@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('header.css');
@import url('about.css');
@import url('numbers.css');
@import url('openings.css');

:root {
    --background-color: #FFFFFF;
    --background-red-highlight: rgba(142, 36, 36, 0.05);
    --logo-grey-font: #3A404E;
    --dark-grey-title: #101828;
    --light-grey-text: #667085;
    --highlight-red: #8E2424;
    --main-font: 'Inter', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    font-weight: 500;
    padding: 0 6em;
}
